Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  RewriteBase /

  ###### BEGIN special handling for the media module's cached scaled images
  # If it exists, just deliver it
  RewriteCond %{REQUEST_URI} ^/uploads/media_items/.+$
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule .* - [L]
  # If it doesn't exist, render it via the front end controller
  RewriteCond %{REQUEST_URI} ^/uploads/media_items/.+$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php [QSA,L]
  ###### END special handling for the media module's cached scaled images


  # we skip all files with .something
  RewriteCond %{REQUEST_URI} \..+$
  RewriteCond %{REQUEST_URI} !\.html$
  RewriteRule .* - [L]

  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]
  RewriteCond %{REQUEST_FILENAME} !-f

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# We should systematically use the correct value in our
# http_build_query calls depending on whether we're building
# a link in a tag (&amp;) or a redirect URL (&). But that could 
# introduce bugs in the short term, so in this stable branch 
# we'll override this setting. & works in every browser ever made,
# although it is technically not standards compliant.

# This is now commented out to avoid breakage for those who
# use fastcgi or other environments where php_value is not
# available. Uncomment this line or, if you can't do that,
# make sure you set arg_separator.output to & in php.ini

# php_value arg_separator.output &
